<header class="navbar-container">
  <div class="container">
      <div class="navbar-content">
          <!-- LOGO -->
<!--           <a href="inicio" class="logo">
              <img src="../../assets/Recurso 5.png" alt="Cali Ciudad Deportiva">
          </a> -->

          <!-- MENÚ -->
          <nav class="nav-links">
            <a routerLink="/inicio" routerLinkActive="active" class="nav-item">Inicio</a>
            <a routerLink="/nosotros" routerLinkActive="active" class="nav-item">Quiénes Somos</a>
            <a routerLink="/contacto" routerLinkActive="active" class="nav-item">Contacto</a>
          </nav>

          <!-- BOTÓN MENÚ RESPONSIVE -->
          <button class="menu-toggle" onclick="toggleMenu()">☰</button>
      </div>
  </div>
</header>
